[submodule "TrinityCore"]
	path = cores/TrinityCore
	url = https://github.com/KTrevis/TrinityCore.git
	branch = ktrevis
[submodule "misc/adt-creator"]
	path = misc/adt-creator
	url = https://github.com/tswow/adt-creator.git
